<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <div class = mainBody>
        <h1>Summary</h1>
        <div id = "BookWishList">
            <% wishlist.forEach(wishlists => { %>
                <div class="wishlists">
                    <p>BookTitle:<%=wishlists.BookTitle%></p>
                    <p>Rating:<%=wishlists.Rating%></p>
                    <p>Comment:<%=wishlists.Comments%></p>
                    
                </div>

           <% }) %>

        </div>
            <a href ="/"> Log Another Book</a>
    </div>
    
</body>
</html>

